@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin bordered($color) {
  border: 1px solid $color;
}

@mixin generateIcons($iconList) {
  @each $iconName in $iconList {
    .icon-#{$iconName} {
      background-image: url("../images/#{$iconName}.svg");
    }
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// ---------------Usage-------------------

.avatar {
  @include size(150px);

  border-radius: 50%;
}

// div {
//   @include centeredFlex();
// }

// botton {
//   @include centeredFlex(inline-flex);
// }

// $icons: "facebook", "github", "linkedin", "twitter";
// @include generateIcons($icons);
